html,
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: rgba(64, 131, 8, 0.6);
}

header {
  height: 60px;
  background-color: #fea52d;
  padding-left: 30px;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: black;
  line-height: 60px;
  padding: 0 20px;
}

.buttons {
  padding: 50px;
  display: flex;
  justify-content: space-around;
}

.button {
  background-color: black;
  color: white;
}

.button {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  /* width: 100%; */
  will-change: transform;
}

.button:disabled {
  pointer-events: none;
}

.button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: none;
  transform: translateY(0);
}

.widgets {
  padding: 50px;
  display: flex;
  justify-content: center;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  background-color: white;
}
